<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKJ8ySQIHyKpfy8n7XF7Lbr4-ziM0nU04</string>
	<key>GCM_SENDER_ID</key>
	<string>243730351732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jakub.zabka.FotimSFRIv2</string>
	<key>PROJECT_ID</key>
	<string>fotimsfriv2</string>
	<key>STORAGE_BUCKET</key>
	<string>fotimsfriv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243730351732:ios:557ac1161906fe5bfbb321</string>
</dict>
</plist>